<footer class="text-center textB">
	<a id="goTop"><span class="glyphicon glyphicon-chevron-up font-up top"></span></a>
	<ul class="list-inline zoomInUp animated" role="menu">
    <li>
      <h5>Developed by Facundo Malgieri</h5>
    </li>
    <li>-</li>
		<li>
			<a href="https://www.linkedin.com/in/facundo-malgieri-0a90b5119" target="_blank"><span class="icon-social-linkedin" title="LinkedIn"></span> LinkedIn</a>
		</li>
		<li>
			<a href="https://github.com/FacundoMalgieri" target="_blank"><span class="icon-social-github" title="Twitter"></span> GitHub</a>
		</li>
	</ul>
</footer>
